html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: rgb(219, 0, 0);
}

/* .container {
    border: 10px solid green;
    display: grid;
    grid-template-columns: 3fr 2.5fr 3fr;
    grid-template-rows: 2fr 5fr 1fr;
    gap: 10px;

    height: 100vh;
    padding: 0px 20px;
} */

.container {
    padding: 0px 20px;
    /* border: inset 10px black; */
    height: 100%;

    display: flex;
    flex-direction: column;
}

.one {
    /* border: solid; */
    background-color: rgb(0, 225, 255);
}

.two {
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    height: 70%;
    background-color: rgb(13, 255, 0);
}

.twoOne,
.twoTwo,
.twoThree {
    /* border: solid; */
}

.twoOne {
    background-color: rgb(174, 174, 227);
    width: 35%;
}

.twoTwo {
    background-color: rgb(52, 52, 164);
    width: 30%;
}

.twoThree {
    width: 35%;
    background-color: rgb(0, 187, 255);
}

.three {
    height: 20%;
    /* border: solid; */
    background-color: blue;
}