html,
body {
    margin: 0;
    padding: 0;
    height: 98%;
}

/* .container {
    border: 10px solid green;
    display: grid;
    grid-template-columns: 3fr 2.5fr 3fr;
    grid-template-rows: 2fr 5fr 1fr;
    gap: 10px;

    height: 100vh;
    padding: 0px 20px;
} */

.container {
    padding: 0px 20px;
    /* border: inset 10px black; */
    height: 100%;
}